body{
    height: 100vh;
    width: 100vw;
}
#cake{
    position: absolute;
    left: 30px;
    right: 900px;
    top: 550px;
    color: burlywood;
    cursor: context-menu;
}
#cake::selection{
    background-color: white;
    color: burlywood;
}
#snake{
    position: absolute;
    left: 70px;
    right: 190px;
    top: 320px;
    color: rgb(238, 218, 192);
    cursor: context-menu;
}
#snake::selection{
    background-color: white;
    color: rgb(238, 218, 192);
}
#nope{
    position: absolute;
    left: 650px;
    right: 650px;
    top: 223px;
    color: oldlace;
    cursor: context-menu;
}
#nope::selection{
    background-color: white;
    color: oldlace;
}
#hard{
    position: absolute;
    left: 90px;
    right: 350px;
    top: 89px;
    color: oldlace;
    cursor: context-menu;
}
#hard::selection{
    background-color: white;
    color: oldlace;
}
#yes{
    position: absolute;
    left: 435px;
    right: 550px;
    top: 60px;
    color: oldlace;
    cursor: context-menu;
}
#yes::selection{
    background-color: white;
    color: oldlace;
}