#cake{
    position: absolute;
    right: 990px;
    top: 550px;
    color: burlywood;
    cursor: context-menu;
}
#cake::selection{
    background-color: white;
    color: burlywood;
}
#snake{
    position: absolute;
    right: 150px;
    top: 320px;
    color: rgb(238, 218, 192);
    cursor: context-menu;
}
#snake::selection{
    background-color: white;
    color: rgb(238, 218, 192);
}
#nope{
    position: absolute;
    right: 650px;
    top: 320px;
    color: oldlace;
    cursor: context-menu;
}
#nope::selection{
    background-color: white;
    color: oldlace;
}
#hard{
    position: absolute;
    right: 350px;
    top: 80px;
    color: oldlace;
    cursor: context-menu;
}
#hard::selection{
    background-color: white;
    color: oldlace;
}
#yes{
    position: absolute;
    right: 990px;
    top: 80px;
    color: oldlace;
    cursor: context-menu;
}
#yes::selection{
    background-color: white;
    color: oldlace;
}